<div id="card">
  <div id="inside">
    <header>
      <div class="left">
        <div id="name">{{ monster().name }}</div>
      </div>
      <div class="right">
        <div id="hp" class="hp">{{ monster().hp }} HP</div>
        <img
          class="icon-energy"
          src="img/electric.webp"
          alt="Electric energy icon"
        />
      </div>
    </header>
    <figure id="art">
      <div class="illustration">
        <img src="img/electric_monster.webp" />
      </div>
      <figcaption>{{ monster().figureCaption }}</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img
              class="icon-energy"
              src="img/electric.webp"
              alt="Electric energy icon"
            />
            <img
              class="icon-energy"
              src="img/electric.webp"
              alt="Electric energy icon"
            />
          </div>
          <div class="name">{{ monster().attackName }}</div>
          <div class="damage">{{ monster().attackStrength }}</div>
        </div>
      </div>
      <div class="description">
        {{ monster().attackDescription }}
      </div>
    </div>
  </div>
</div>
