<div id="card">
  <div id="inside">
    <header>
      <div class="left">
        <div id="name">My Monster</div>
      </div>
      <div class="right">
        <div id="hp" class="hp">40 HP</div>
        <img
          class="icon-energy"
          src="img/electric.webp"
          alt="Electric energy icon"
        />
      </div>
    </header>
    <figure id="art">
      <img src="img/electric_monster.webp" />
      <figcaption>N°25 Monster</figcaption>
    </figure>
    <div id="capacities">
      <div class="capacity">
        <div class="main">
          <div class="cost">
            <img
              class="icon-energy"
              src="img/electric.webp"
              alt="Electric energy icon"
            />
            <img
              class="icon-energy"
              src="img/electric.webp"
              alt="Electric energy icon"
            />
          </div>
          <div class="name">Geo Impact</div>
          <div class="damage">60</div>
        </div>
      </div>
      <div class="description">
        This is a long description of a monster capacity. Probably something
        about electricity...
      </div>
    </div>
  </div>
</div>
